[Unit]
Description=CDE Setup and Configuration
Before=dnsmasq.service
[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/local/bin/cde-setup"
[Install]
WantedBy=multi-user.target
